<!DOCTYPE html>
<html lang = 'en'>
<head>
	<meta charset = "utf-8"/>
	<title>Hello World!</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static',
              filename='hello.css')}}" />


<!--   	<script type="text/javascript">
	    $(document).ready(function () {
	    var data = {
	         data: JSON.stringify({"lesson": "Operation System", "score": 100})
	   	}
	    $.ajax({
	        url:"/sendjson",
	        type: 'POST',
	        data: data,
	        success: function (msg) {
	            alert(msg.name)
	        }
	    })
	  });
	</script> -->
</head>

<body> 
	It works!
</body>
</html>